.App {
  text-align: center;
}

.outer-container {
  display: flex;
  margin: 100px;
}

.column-steps {
  flex: 1;
  margin-top: 50px;
}

.column-group {
  flex: 2;
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.column {
  border: 1px solid grey;
  height: 500px;
  width: 150px;
}

.column-headers {
  margin: 10px;
  border-bottom: 2px solid grey;
  height: 25px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px solid pink;
}
